<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- package.sh fills in @VERSION@. -->
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Shorui</string>
    <key>CFBundleDisplayName</key>
    <string>Shorui</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.voidwright07.shorui</string>
    <key>CFBundleExecutable</key>
    <string>shorui</string>
    <key>CFBundleIconFile</key>
    <string>Shorui</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleShortVersionString</key>
    <string>@VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@VERSION@</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>MIT License</string>
</dict>
</plist>
